body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: grid;
  background:#f9f9f9;
}
.card-users{
  display: relative;
  width: 78%;
  margin-top: 150px;
  margin-right: 3%;
  margin-left: 18%;
  background: #ffffff;
  box-shadow: 2px 2px 2px 1px #bbb6b6;
}
.card-item-user{
  border-color: #e6e6e6;
  box-shadow: 5px 5px 4px #bbb6b6;
  width: 100%;
}

.logo{
  position: relative;
  width: 115px;
  margin-left: 1%;
  margin-top: 15px;
}
.toolbar-user-icon{
  position: relative;
  float: right;
  width: 45px;
  margin-top: 20px;
  justify-self: right;
  margin-right: 10%;
}
#filtro{
  justify-self: center;
  position: relative;
  margin-top: auto;
  height: 40px;
  width: 100%;
  border:none;
  outline: none;
  border-radius: 50px;
  padding-left: 40px;
  font-size: 25px;
}
#filtro::-webkit-input-placeholder{
  color:#2c3e50;
  font-size: x-large;
  font-weight: normal;
}
.toolbar{
  z-index: 1;
  grid-template-columns: repeat(3, 12% 76% 12%);
  display: grid;
  position: fixed;
  background: #2d3d4d;  
  width: 100%;
  height: 90px;
  box-shadow: 4px 4px 2px #bbb6b6;
}
.user-foto{
  border-radius: 50%;
  width: 50px;
  margin-left: 5%;
}
.list-users{
  background: #ffffff;
  border-color: #e6e6e6;
  box-shadow: 2px 2px 1px #bbb6b6;
}
.sidenav{
  margin-top: 90px;
  position: fixed;
  height: 100%;
  width: 17%;
  max-width: 250px;
  min-width: 145px;
  background-color: #ffffff;
  box-shadow: 5px 5px 4px #bbb6b6;
  color:#858b8f;
  white-space: nowrap; 
}
.list-options{
  display: block;
  position: sticky;
  grid-template-rows:  33% 33% 33%;
  grid-template-columns: 100%;
  padding-left: 10%;
}
.list-options li{
  cursor: pointer;
}
.link{
  text-decoration: none;
  color: #2d3d4d;
  font-weight: 500;
  font-size: large;
}
#sidenav-todos{
  display: block;
  position: sticky;
  font-size: 20px;
}
#sidenav-atendidos{
  display: block;
  position: sticky;
  font-size: 20px;
}
#sidenav-lixeira{
  display: block;
  position: sticky;
  font-size: 20px;
}
.sidenav i{
  margin-right: 7%;
}
.user-email{
  padding: 2%;
}
.list-users td{
  color:  #ababab;
}
.icons-acoes-user{
  width: 10%;
  min-width: 5%;
  cursor: pointer;
}
#icon-visible{
  display: relative;
}
#icon-invisible{
  display: none;
}
.user-foto-tab{
  tab-size: 1px;
}
.select-tab{
  color:#aeba4e;
  font-weight: bolder;
  padding-top: 5px;
}
#select-icon{
  color:#aeba4e;
  padding-top: 5px;
}
#noSelect-icon{
  color: #858b8f;
  padding-top: 5px;
}
.noSelect-tab{
  color: #858b8f;
  padding-top: 5px;
}
.popup{
  display: none;
}
.show-popup{
  display: block; 
  position: fixed;
  top: 0;
  left: 20%;
  right: 20%;
  width: 30%;
  z-index: 9999;
  background-color:rgb(0, 250, 0);
  opacity: 0.9;
  color:#ffffff;
  font-size: x-large;
  margin: 0 auto; 
  box-shadow: 1px 1px 5px black;
  text-shadow: black 0.1em 0.1em 0.2em;
  border-radius: 12px;
  text-align: center;
}
#popup-icon{
  font-size: xx-large;
  padding: 2%;
}
.show-popup-existente{
  display: block; 
  position: fixed;
  top: 0;
  left: 20%;
  right: 20%;
  width: 30%;
  z-index: 9999;
  opacity: 0.9;
  color:#ffffff;
  font-size: x-large;
  margin: 0 auto; 
  box-shadow: 1px 1px 5px black;
  text-shadow: black 0.1em 0.1em 0.2em;
  border-radius: 12px;
  text-align: center;
  background-color: #ff0000;
}
#search-icon{
 color:#aebb3f;
 position:absolute;
 left: 0;
 top:12px;
 padding: 0px 0px 0px 10px;
}
.search{
  width: 80%;
  position: relative;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
#todos-icon{
  text-decoration:none;
  color:#858b8f;
  padding: 15%;
  width: 15%;
}
.button-menu{
  display: none;
}
.menu-option{
  display:inline-block;
  margin-top: 1%;
  margin-bottom: 20px;
}
.menu-option-fechado{
  display:inline-block;
  margin-top: 1%;
  margin-bottom: 20px;
}
.sidenav-fechado i{
  padding-top: 7px;
}
.sidenav-fechado{
  margin-top: 90px;
  position: fixed;
  height: 100%;
  width: 17%;
  max-width: 250px;
  min-width: 145px;
  background-color: #ffffff;
  box-shadow: 5px 5px 4px #bbb6b6;
  color:#858b8f;
  white-space: nowrap; 
}
.user-card-fechado{
  display: block;
  position: sticky;
  width: 90%;
  margin-top: 150px;
  margin-right: 3%;
  margin-left: 10%;
  background: #ffffff;
  box-shadow: 2px 2px 2px 1px #bbb6b6;
}
.filtro-existente{
  background: #ffffff;
  border-color: #e6e6e6;
  box-shadow: 2px 2px 1px #bbb6b6;
  color:  #ababab;
}
.filtro-inexistente{
  display: none;
  background: #ffffff;
  border-color: #e6e6e6;
  box-shadow: 2px 2px 1px #bbb6b6;
  color:  #ababab;
}
#menu-option-todos{
  margin-top: 1%;
}
#menu-option-lixeira{
  margin-top: 1%;
}
#menu-option-atendidos{
  margin-top: 1%;
}