body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: grid;
  background:#f9f9f9;
}
.card{
  position: relative;
  width: 80%;
  margin-top: 150px;
  margin-right: 3%;
  margin-left: 18%;
  background: #ffffff;
  box-shadow: 5px 5px 4px #bbb6b6;
  float:left;
}
.item{
  border-color: #e6e6e6;
  box-shadow: 5px 5px 4px #bbb6b6;
  width: 100%;
}
.menu{
  width: 15%;
  height: 100%;
}
.logo{
  position: relative;
  width: 125px;
  margin-left: 1%;
}
.user{
  position: relative;
  float: right;
  width: 65px;
  margin-top: 25px;
}
#filtro{
  justify-self: center;
  position: relative;
  margin-top: auto;
  outline: none;
  width: 80%;
  height: 45px;
  margin: 30px 0% 0% 15px;
  border-radius: 36px;
}
#filtro::-webkit-input-placeholder{
  color:#2c3e50;
  font-weight: 600;
  font-size: large;
}
.toolbar{
  z-index: 1;
  grid-template-columns: repeat(3, 12% 76% 12%);
  display: grid;
  position: fixed;
  background: #2d3d4d;  
  width: 100%;
}
.foto{
  border-radius: 50%;
  width: 50px;
  margin-left: 5%;
}
.list{
  background: #ffffff;
  border-color: #e6e6e6;
  box-shadow: 2px 2px 1px #bbb6b6;
}
.sidenav{
  display: grid;
  grid-template-rows:  5% 5% 5%;
  grid-template-columns: 100%;
  margin-top: 130px;
  position: fixed;
  height: 100%;
  width: 15%;
  background-color: #ffffff;
  box-shadow: 5px 5px 4px #bbb6b6;
  float: left;
  color:#858b8f;
  text-align: center;
  white-space: nowrap; 
  justify-content: center;
}
.a{
  text-decoration:none;
  color:#858b8f;
  font-weight: bold;
}
#todos{
  margin-top: 10%;
  position: flex;
  font-size: large;
  margin-right: 10%;
}
#atendidos{
  display: block;
  position: static;
  margin-top: 10%;
  font-size: large;
}
#lixeira{
  position: flex;
  margin-top: 10%;
  font-size: large;
  margin-right: 10%;
}
.email{
  padding: 2%;
}
.nome{
  font-weight: bold;
}
.list td{
  color:  #ababab;
}
.list i{
  padding: 6%;
  width: 20%;
}
.tdimg{
  tab-size: 1px;
}
.select{
  color:#aeba4e;
}
.noSelect{
  color: #858b8f
}
.popup{
  display: none;
}
.showpopup{
  z-index: 1;
  position: absolute;
  top:150px;
  width: 250px;
  height: 80px;
  opacity: 0.9;
  background-color: rgb(42, 218, 42);
  display: block;
  float: right;
  margin-left: 80%;
}
