
.card {
    position:static;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    margin:auto;
    margin-top: 5%;
    background: no-repeat linear-gradient( #e6e6e6 200px, #858b8f 2px, #ffffff 202px); 
    border-radius: 12px;
}
.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}
.img {    
    margin-top: 10%;
    border-radius: 200%;
    margin-left: 40%;
    border-color: #858b8f;
}
.label {
    text-align: center;
    margin-top: -14%;
    color:#858b8f;
    font-size: larger;
}
.variavel{
    text-align: center;
    color: #2c3e50;
    font-size: xx-large;
    font-weight: bold;
}
.back{  
    background: no-repeat linear-gradient( #2c3e50 55%, #f4f4f4 45%); 
    position: static;
    align-items: center;
}
.button{
    display: static;
    border: none;
    outline: none;
    border-radius: 100%;  
    width: 2%;
    margin-top: 1%;
    margin-left: 1%;
    padding: 0.4%;
}
.icons{
    position: initial;
    width: 100%;
    text-align-last: center;
    margin-top: 15%;
    padding: 7%;
    color:#858b8f;
}
.icons i{
    width: 7%; height:2px;
    margin: 2px;
}
